interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.echo.nasa.gov/catalog-rest/echo_catalog/granules.json?page_num=1&page_size=2000&short_name=MOD13C1&version=005&temporal[]=2016-01-01T00:00:00,2016-03-31T23:59:59&bounding_box=30,-10,40,0
  response:
    body: {string: "{\n  \"feed\" : {\n    \"updated\" : \"2018-01-03T09:13:25.632Z\"\
        ,\n    \"id\" : \"https://cmr.earthdata.nasa.gov:443/search/granules.json?short_name=MOD13C1&version=005&temporal[]=2016-01-01T00%3A00%3A00%2C2016-03-31T23%3A59%3A59&bounding_box=30%2C-10%2C40%2C0\"\
        ,\n    \"title\" : \"ECHO granule metadata\",\n    \"entry\" : [ {\n     \
        \ \"time_start\" : \"2015-12-19T00:00:00.000Z\",\n      \"boxes\" : [ \"-90\
        \ -180 90 180\" ],\n      \"granule_size\" : \"81.1865\",\n      \"online_access_flag\"\
        \ : true,\n      \"id\" : \"G1048144578-LPDAAC_ECS\",\n      \"day_night_flag\"\
        \ : \"BOTH\",\n      \"browse_flag\" : true,\n      \"time_end\" : \"2016-01-03T23:59:59.000Z\"\
        ,\n      \"coordinate_system\" : \"CARTESIAN\",\n      \"original_format\"\
        \ : \"ECHO10\",\n      \"data_center\" : \"LPDAAC_ECS\",\n      \"cloud_cover\"\
        \ : \"1.0\",\n      \"links\" : [ {\n        \"rel\" : \"http://esipfed.org/ns/fedsearch/1.1/data#\"\
        ,\n        \"type\" : \"application/x-hdfeos\",\n        \"hreflang\" : \"\
        en-US\",\n        \"href\" : \"http://e4ftl01.cr.usgs.gov//MODIS_Composites/MOLT/MOD13C1.005/2015.12.19/MOD13C1.A2015353.005.2016008005704.hdf\"\
        \n      }, {\n        \"rel\" : \"http://esipfed.org/ns/fedsearch/1.1/metadata#\"\
        ,\n        \"type\" : \"application/x-hdfeos\",\n        \"title\" : \"(GET\
        \ DATA : OPENDAP DATA (DODS))\",\n        \"hreflang\" : \"en-US\",\n    \
        \    \"href\" : \"http://opendap.cr.usgs.gov/opendap/hyrax//MODIS_Composites/MOLT/MOD13C1.005/2015.12.19/MOD13C1.A2[...]
